.answerTableHeader {
    background: #f8f9fa;
    border: 1px solid #ddd;
}

#points {
    visibility: hidden;
    z-index: 2;
}

.p {
    background-color: white;
    border: 1px solid red;
    z-index: 2;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.map {
    z-index: 1;
}

.country-table {
    width: 100%
}

.country-table tr td {
    height: 32px;
    width: 20%;
    border: 1px solid #ccc;
}

.country-table tr td.answer-column-head {
    padding: 3px 8px 3px 8px;
    border: 1px solid #ccc;
    background: #f1f1f1;
}

/*Border Color*/
#calcform tbody {
    border: 1px solid #ccc;
}

/*Score Table*/
#score {
    margin-bottom: 20px;
    font-weight: 800;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

#notimer {
    cursor: pointer;
    font-size: 12px;
    border: 0;
    background: #e9ecf0;
}

/*input wrapper*/
.input-group-prepend {
    display: flex;
    flex-direction: row;
}


/*Theme template Style*/

.world-map-quiz-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}