#wmq-quiz-form div input[type="text"] {
    width: 400px;
}

#wmq-quiz-form div label {
    width: 200px;
    margin-top: -6px;
}

#wmq-quiz-form div input[type="color"] {
    width: 50px;
}

#wmq-quiz-form div input[type="submit"] {
    width: 120px;
}

#wmq-quiz-form div input[type="number"] {
    width: 120px;
}

#adminmenu #toplevel_page_wmq .wp-menu-image img {
    width: 32px;
    height: auto;
    margin-top: -10px;

}
